<!DOCTYPE html>
<html>
  <head>
    <title>RailsVue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'navigation' %>
    <%= javascript_pack_tag 'films-list' %>
    <div id="filmList"></div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
